<footer class="footer flex flex-column justify-content-center align-items-center">
  <label>Made with Coffee and Anxiety by Franco, Sebas and Joel (Inspired by Julio).</label>
  <a href="https://github.com/joel-eche/finereads" class="footer__link text-undecorated">
    <i class="footer__link__icon fab fa-github"></i>
  </a>
</footer>