<header class="navbar flex justify-content-between align-items-center container">
  <span class="brand">Fine<strong class="brand__bold">reads</strong></span>
  <nav>
    <ul class="navigation list-style-none flex">
      <li class="navigation__item">
        <a href="/books" class="navigation__item__link text-undecorated">My books</a>
      </li>
      <li class="navigation__item">
        <a href="/search" class="navigation__item__link text-undecorated">Find Books</a>
      </li>
    </ul>
  </nav>
</header>
