<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Finereads</title>
  </head>
  <body class="index_main">
    <div class="div_img">
      <img src="/images/bookshelf.png" alt="" />
    </div>
    <div class="div_main">
      <div class="div_info">
        <span class="div_text">Meet <span class="fine">Fine</span>reads</span>
        <span class="div_text">Your new personal Library</span>
        <a href="/search">
          <input class="start" type="button" value="Get started" />
        </a>
      </div>
    </div>
  </body>
</html>
