<main>
  <img src="" alt="" />
  <div>
    <div>
      <label>
        Meet Finereads
      </label>
      <label>
        Your new personal Library
      </label>
      <input type="button" value="Get started" />
    </div>
  </div>
</main>
