<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/reading-list.css">
    <link rel="stylesheet" href="/css/book-edit.css">
    <link rel="stylesheet" href="/css/book-detail.css">
    <title>Finereads</title>
  </head>
  <body class="flex flex-column">
    <%= erb "../partials/_header".to_sym %>
    <main class="main flex-grow-1">
      <%= yield %>
    </main>
    <%= erb "../partials/_footer".to_sym %>
    <script src="https://kit.fontawesome.com/35d6a5945d.js" crossorigin="anonymous"></script>
  </body>
</html>
