<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>Document</title>
  </head>
  <body>
    <%= erb "../partials/_header".to_sym %>
    <main class="main">
      <%= yield %>
    </main>
    <%= erb "../partials/_footer".to_sym %>
    <script src="https://kit.fontawesome.com/35d6a5945d.js" crossorigin="anonymous"></script>
  </body>
</html>
