<section class="search__title">
  <h1>Find your next book to read</h1>
</section>
<section class="search__form">
  <%= erb "../partials/_form-search".to_sym %>
</section>
<section class="search__results">
  <%= erb "../partials/_result-search".to_sym %>
</section>