<section class="search__title">
  <h1>Find your next book to read</h1>
</section>
<section class="search__form">
  <%= erb "../partials/_form-search".to_sym %>
</section>
<section class="search__results">
  <% if message == "" %>
    <%= erb "../partials/_result-search".to_sym, locals: {books: books} %>
  <% else %>
    <div>
      <i class="far fa-frown-open"></i>
      <span>No results found</span>
    </div>
  <% end %>
</section>