<section class="search__title flex justify-content-center text-center">
  <h1>Find your next book to read</h1>
</section>
<section class="flex justify-content-center">
  <%= erb "../partials/_form-search".to_sym %>
</section>
<section class="search__results container-big flex flex-wrap justify-content-between">
  <% if message == "" && !books.empty? %>
    <%= erb "../partials/_result-search".to_sym, locals: {books: books} %>
  <% elsif message == "" && books.empty? %>
    <div class="flex flex-column align-items-center text-center w-100-percent">
      <i class="fas fa-book-open"></i>
      <span>Waiting for a query</span>
    </div>
  <% else %>
    <div class="flex flex-column align-items-center text-center w-100-percent">
      <i class="far fa-frown-open"></i>
      <span>No results found</span>
    </div>
  <% end %>
</section>
<% if has_more_button %>
  <div class="pagination flex justify-content-center">
    <a href="/search?search-filter=<%= param_search_filter %>&query=<%= param_query %>&maxResults=40" class="btn btn-orange text-undecorated">More</a>
  </div>
<% end %>