.index_main {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #e5e5e5;
}
.div_img {
  width: 40%;
  float: left;
}
.div_img img {
  width: 100%;
}
.div_main {
  width: 60%;
  float: left;
  margin-top: 15%;
}
.div_info {
  margin: auto;
  text-align: center;
  font-family: Roboto Slab;
  display: flex;
  flex-direction: column;
  font-size: 28px;
}
.div_text {
  font-weight: bold;
  margin-top: 10px;
}
.fine {
  font-weight: lighter;
}
.start {
  border: 0;
  margin: 0px auto;
  margin-top: 15px;
  background-color: #f6ad55;
  width: 120px;
  font-family: Nunito;
  font-size: 16px;
  color: #1a202c;
  height: 40px;
  text-decoration: none;
}
