*,
*::before,
*::after {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --background: #fffaf0;
  --background-gray: #d8d8d8;
  --btn-orange: #f6ad55;
  --btn-green: #38a169;
  --btn-lightblue: #9ae6b4;
  --btn-red: #c53030;
  --btn-blue: #2b6cb0;
  --txt-white: #ffffff;
  --txt-orange: #ed8936;
  --txt-gray: #4a5568;
  --txt-black: #111111;
  --select-lightblue-light: #edf2f7;
  --select-gray: #edf2f7;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-family: "Nunito", sans-serif;
}

select,
input {
  font-family: Nunito;
}

.main {
  padding-top: 40px;
}

.container {
  padding: 0px 10%;
}
.container-big {
  padding: 0px 15%;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-grow-1 {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-undecorated {
  text-decoration: none;
  color: var(--txt-black);
}
.text-orange {
  color: var(--txt-orange);
}
.text-gray {
  color: var(--txt-gray);
}

.list-style-none {
  list-style: none;
}

.btn {
  font-family: Nunito;
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
.btn-green {
  color: var(--txt-white);
  background-color: var(--btn-green);
}
.btn-orange {
  color: var(--txt-white);
  background-color: var(--btn-orange);
}
.btn-lightblue {
  color: var(--txt-black);
  background-color: var(--btn-lightblue);
}
.btn-transparent-blue {
  color: var(--btn-blue);
  background-color: transparent;
}
.btn-transparent-green {
  color: var(--btn-green);
  background-color: transparent;
}
.btn-transparent-red {
  color: var(--btn-red);
  background-color: transparent;
}

.mt-12 {
  margin-top: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.pb-0 {
  padding-bottom: 0px;
}
.w-100-percent {
  width: 100%;
}
.w-80-percent {
  width: 80%;
}

.vertical-align-top {
  vertical-align: top;
}

.font-weigth-600 {
  font-weight: 600;
}

.font-weigth-bold {
  font-weight: bold;
}
